
{% extends 'default.html' %}
{% load static %}

{% block content %}
    <section class="bg-dark text-white">
      <div class="container text-center">

          <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">File upload</h2>
            <hr class="light my-4">
              <table>
              <tr>
                <td>
                  <form action="{{ request.build_absolute_uri }}" method="POST" enctype="multipart/form-data" >
                  {% csrf_token %}
                  <input type="file" name="file" id="files" multiple/>

                  <pre id="filelist" style="display:none;"></pre>
                  <br>

                    <input type="submit" value="Upload Files" />
                  </form>
                </td>
              </tr>
            </table>

          </div>
        </div>

      </div>
    </section>
{% endblock %}
