{% extends 'default.html' %}
{% load static %}

{% block content %}
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>SYLLABDASH</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="mb-5">Upload your syllabus and our magic sauce will upload your assignments to your Google Calendar</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="file_upload/">Upload Files</a>
      </div>
    </div>
  </div>
</header>

<!-- <section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">We've got what you need!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section> -->

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Special Sauce Recipe</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center" style="flex: 0 0 33%; max-width: 33%;">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-upload text-primary mb-3 sr-icon-1"></i>
          <h3 class="mb-3">Upload</h3>
          <p class="text-muted mb-0">Upload your file(s)</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center" style="flex: 0 0 33%; max-width: 33%;">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-check-circle text-primary mb-3 sr-icon-2"></i>
          <h3 class="mb-3">Select</h3>
          <p class="text-muted mb-0">Select your desired entries</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center" style="flex: 0 0 33%; max-width: 33%;">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-calendar-alt text-primary mb-3 sr-icon-3"></i>
          <h3 class="mb-3">Add</h3>
          <p class="text-muted mb-0">Dates added to Google Calendar automatically</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">


      <div class="col-lg-3 col-sm-6 madelyn imageStyle">
        <!-- Button trigger modal -->
        <a class="portfolio-box fixHeight" data-toggle="modal" data-target="#madelynModal" href="">
        <!-- <img class="img-fluid" src="{% static "syllab_dash/images/portfolio/thumbnails/mad.jpg" %}" alt=""> -->
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-name">
              Madelyn Reyes
            </div>
          </div>
        </div>
        </a>
        <!-- Modal -->
        <div id="madelynModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Madelyn Reyes</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  <li>Senior at Lipscomb University</li>
                  <li>Majoring in Computer Science with a focus in Software Engineering and a Math minor</li>
                  <li>Originally from Honduras</li>
                </ul>
              </div>
              <div class="col-8">
                <i class="fab fa-github fa-3x mb-3"></i>
                <a href="https://github.com/mpreyes">github.com/mpreyes</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 andie imageStyle">
        <a class="portfolio-box fixHeight" data-toggle="modal" data-target="#andieModal" href="">
          <!-- <img class="img-fluid" src="{% static "syllab_dash/images/portfolio/thumbnails/andie.jpg" %}" alt=""> -->
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Andie Goode
              </div>
            </div>
          </div>
        </a>
        <!-- Modal -->
        <div id="andieModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Andie Goode</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  <li>Senior at Lipscomb University</li>
                  <li>Majoring in Computer Science with a focus in Software Engineering and a Math minor</li>
                  <li>Has no interesting facts</li>
                </ul>
              </div>
              <div class="col-8">
                <i class="fab fa-github fa-3x mb-3"></i>
                <a href="https://github.com/andiegoode12">github.com/andiegoode12</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 robert imageStyle">
        <a class="portfolio-box fixHeight" data-toggle="modal" data-target="#robertModal" href="">
          <!-- <img class="img-fluid" src="{% static "syllab_dash/images/portfolio/thumbnails/robert.jpg" %}" alt=""> -->
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Robert Lockwood
              </div>
            </div>
          </div>
        </a>
        <!-- Modal -->
        <div id="robertModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Robert Lockwood</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  <li>Junior at Lipscomb University</li>
                  <li>Dual majoring in Computer Science & Mathematics</li>
                  <li>Has no interesting fatcs</li>
                </ul>
              </div>
              <div class="col-8">
                <i class="fab fa-github fa-3x mb-3"></i>
                <a href="https://github.com/StitchLockwood">github.com/StitchLockwood</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 gabe imageStyle">
        <a class="portfolio-box fixHeight" data-toggle="modal" data-target="#gabeModal" href="">
          <!-- <img class="img-fluid" src="{% static "syllab_dash/images/portfolio/thumbnails/gabe.jpg" %}" alt=""> -->
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Gabe Ambrosio
              </div>
            </div>
          </div>
        </a>
        <!-- Modal -->
        <div id="gabeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Hi, I'm Gabe
              </div>
              <div class="col-8">
                <i class="fab fa-github fa-3x mb-3"></i>
                <a href="https://github.com/ambrosiogabe">github.com/ambrosiogabe</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<style>
  .fixHeight{
    height: 200px;
  }
  .imageStyle{
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .madelyn{
    background-image: url("{% static "syllab_dash/images/portfolio/thumbnails/mad.jpg" %}");
    background-style: cover;
  }
  .andie{
    background-image: url("{% static "syllab_dash/images/portfolio/thumbnails/and.jpg" %}");
    background-style: cover;
  }
  .robert{
    background-image: url("{% static "syllab_dash/images/portfolio/thumbnails/rob.jpg" %}");
    background-style: cover;
  }
  .gabe{
    background-image: url("{% static "syllab_dash/images/portfolio/thumbnails/gab.jpg" %}");
    background-style: cover;
  }
</style>
{% endblock %}
