<section id="contact" style="font-size: .7rem";>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading" style="font-size:1.0rem";>Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Leave a comment on Github or send us an email and we'll get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fab fa-github fa-3x mb-3"></i>
        <p>Github repo goes here</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@nonexistingemail.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
