{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A site made to upload files, extract events, and upload them to your google calendar.">
  <meta name="author" content="Madelyn Reyes, Andie Goode, Robert Lockwood, Gabe Ambrosio - Team MARG">

  <title>Syllab Dash | Working title</title>

  <!-- Bootstrap core CSS -->




  <link href="{% static "syllab_dash/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "syllab_dash/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static "syllab_dash/vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "syllab_dash/min_css/creative.css" %}" rel="stylesheet">



<!-- temporary inline css until relative links to images are fixed-->
  <style>

    header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("{% static "syllab_dash/images/new_header.jpg" %}");
  background-position: center center;
  background-size: cover;
}
  </style>


</head>
