{% load static %}

<!-- Bootstrap core JavaScript -->
<script src="{% static "syllab_dash/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "syllab_dash/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<!-- Plugin JavaScript -->

<script src="{% static "syllab_dash/vendor/jquery-easing/jquery.easing.min.js" %}"></script>
<script src="{% static "syllab_dash/vendor/scrollreveal/scrollreveal.min.js" %}"></script>
<script src="{% static "syllab_dash/vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static "syllab_dash/js/creative.min.js" %}"></script>
